extends shared/_layout

block body

  p We want to help connect those affected by the #MuslimBan with those who can help!

  a.button.cta(href='/i-want-to-help') I want to help
  a.button.cta(href='/i-need-help') I need help

  section
    h3 So what's the latest with the ban?
    ul
      li Citizens of Syria, Iran, Sudan, Libya, Somalia, Yemen, and Iraq are banned from entering the US
      li This includes dual nationals
      li Certain visa categories, such as diplomats are exempt
      li Green card holders are supposed to be allowed in, but experiences have varied

  section
    h3 Need help?

    iframe.airtable-embed(src="https://airtable.com/embed/shrhRLp1fTEDkgePF?backgroundColor=purple&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;")

    //- ul
    //-   li Various local ACLU chapters have been providing support
    //-   li International Refugee Assistance Program is offering help for refugees and displaced persons
    //-   li <b>LAX</b> - <a href='http://www.immdef.org', target='_blank'>Immigrant Defenders Law Center</a> (phone: +1-213-634-0999)
    //-   li <b>JFK</b> - <a href='https://nobanusa.com/', target='_blank'>#NoBanJFK</a> (hotline: +1-844-326-4940)
    //-   li <b>Florida</b> - <a href='https://aclufl.org/', target='_blank'>ACLU Florida</a> - <a href="https://docs.google.com/forms/d/e/1FAIpQLSfuedor6EW8DzckIgc6FuCQwe8xnqlUE9InjBRyD3dBjr0DBQ/viewform?c=0&w=1">Need assistance signup</a> | <a href="https://docs.google.com/forms/d/e/1FAIpQLSeGWJmeMjakC7y5hCkFxlNl_R9zOMonbzJDJeTatKKRcXnLXw/viewform?c=0&w=1">Lawyer volunteer signup</a>


  section
    h3 Do you want to help out?
    ul
      li Are you a lawyer?
      li Want to temporarily host refugees or other displaced people? <a href="https://www.airbnb.ca/immigration_support?locale=en">Airbnb is helping coordinate housing</a>

  section
    h3 About
    ul
      li Centralized up-to-date resources on the latest news about the ban and its enforcement
      li Create a secure system to connect those needing help and those able to provide it
