doctype html

html
head

  // Livereload snippet
  script(src="//localhost:35729/livereload.js?snipver=1")
  link(rel="stylesheet" type="text/css" href="css/style.css")

  block header

body

  .header
    a.logo(href='/')
      img(src='/img/bandaid.png')
      h1 BannedAid

  .wrap
    block body

  footer
    p this is the footer
